{% extends 'base.html.twig' %}
{% block title 'Réinisialisation du mot de passe' %}
{% block body %}
    <div class="container mt-4">
        <h2 class="title-h2 text-center">Changement de mot de passe</h2>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">{{ form_row(form.password) }}</div>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-primary">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="pt-4 p-0">
        {{ include('layout/footer.html.twig') }}
    </div>
{% endblock %}