{% extends 'base.html.twig' %}
{% block title 'Les categories' %}
{% block body %}
    <div class="row m-0">
        <div class="menu-admin col-2">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin col-10">
            <div class="container mt-4">
                <div class="row title-row">
                    <div class="col-12">
                        <h3>Gestion des Images</h3>
                    </div>
                </div>
                <a href="{{ path('admin.images.new') }}" class="btn btn-outline-success button col-2" title="Ajouter"><i
                            class="fa fa-plus" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</div>
{% endblock %}