{% extends 'base.html.twig' %}
{% block title 'Les categories' %}
{% block body %}
    <div class="row m-0">
        <div class="menu-admin d-lg-block col-lg-2 d-none">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin col-lg-10 col-12">
            <div class="container mt-4">
                <h2>Gestion des Images</h2>

                <a href="{{ path('admin.images.new') }}" class="btn btn-outline-success btn-icon " title="Ajouter"><i
                            class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}