{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block body %}
    <div class="color-jumbotron-home jumbotron text-center text-white rounded-0 p-0">
        <div class="row m-0">
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
            <div class="col-4 py-5">
                <h1 class="title-h1">BarberShop</h1>
                <p class="description">Lorem Ipsum color sit amet</p>
            </div>
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Les Promos</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Qui nous sommes ?</h2>
                </div>
                <div>
                    <p>Ex turba vero imae sortis et paupertinae in tabernis aliqui pernoctant vinariis,
                        non nulli velariis umbraculorum theatralium latent, quae Campanam imitatus lasciviam
                        Catulus in aedilitate sua suspendit omnium primus; aut pugnaciter aleis certant turpi
                        sono fragosis naribus introrsum reducto spiritu concrepantes; aut quod est studiorum
                        omnium maximum ab ortu lucis ad vesperam sole fatiscunt vel pluviis,
                        per minutias aurigarum equorumque praecipua vel delicta scrutantes.</p>
                </div>
            </div>
            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Nos Partenaires</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}