* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

ul {
    list-style: none;
    padding: 0;
}

li,
.btn-lg,
.label-size,
.description,
#description-product {
    font-size: 2rem;
}


h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #696969;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

h2, h3,
.home-link {
    font-size: 3rem;
    text-align: center;
}

h4 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.btn-sm {
    min-width: 40px;
    height: 40px;
    font-size: 1.8rem;
}

.btn-icon {
    width: 40px;
    height: 40px;
    font-size: 2rem;
}

a:hover {
    text-decoration: none;
}

.title-row {
    border-bottom: 2px solid #696969;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.button-link {
    font-size: 2.5rem;
    text-align: center;
}

/* nav */
.style-nav {
    border-bottom: 1px solid #454545;
    background-color: #000000;
}

.color-jumbotron-home {
    background-color: #000000;
    padding: 15px 15px 0;
}

.logo-img {
    width: 80px;
    padding: 10px;
}

.button-search {
    min-width: 39.5px;
    height: 39.5px;
    background-color: #222222;
    color: #ffffff;
}

.button-search:hover {
    background-color: #ffffff;
    color: #222222;
}
/* products */
.color-card {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(105, 105, 105, 1) 100%);
    color: #000000;
}

.price-paragraphe {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2.5rem;
    font-weight: bold;
    color: #c45c45;
    padding: 5px;
    margin: 0;
}

.title-product-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: 0;
}

.title-product-link a {
    color: #000000;
}

.title-product-link:hover a{
    color: #c45c45;
}

/*
admin
 */

.menu-admin {
    background-color: #000000;
    padding: 0;
}

.menu-admin div a {
    color: #696969;
    margin: 0;
}

.menu-admin div a:hover {
    background: #222222;
    color: #ffffff;
}

.nav-link.active,
.show > .nav-link {
    background: #222222!important;
    color: #ffffff !important;
}

/* form */

.form-control {
    padding : 0.5rem;
    font-size: 2rem;
    border-radius: 5px;
}

/* table */

table {
    overflow: scroll;
}

table th,
table td {
    text-align: center;
}

.td-image {
    width: 10%;
}
.td-options {
    width: 5%;
}
.td-name {
    width: 70%;
}

/* valide */

.size {
    font-size: 1.6rem;
    margin: 0;
}

.button-basket {
    background-color: #222222;
    text-align: center;
    padding: 5px 0;
}

.button-basket a {
    font-size: 20px;
    color: #ffffff;
}

.button-basket:hover a {
    color: #c45c45;
}

form {
   width: 100%;
}

.select2 {
    width:100%!important;
}
