* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

ul {
    list-style: none;
}

li,
.label-size,
.description,
#description-product {
    font-size: 2rem;
}
.title-product-link {
    font-size: 1.6rem;
}
h1 {
    font-size: 4rem;

}

h2 {
    border-bottom: 2px solid #696969;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

h1, h2, h3 {
    text-align: center;
}

h2, h3,
.home-link,
#title-product {
    font-size: 3rem;
}

.title-row {
    border-bottom: 2px solid #696969;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.button-link,
#price-product {
    width: 240px;
    font-size: 2.5rem;
    text-align: center;
}

/* nav */
.color-nav {
    border-bottom: 1px solid #454545;
}

.color-nav,
.color-jumbotron-home {
    background-color: #000000;
}

.color-jumbotron-home {
    padding: 15px 15px 0;
}

#price-product {
    font-weight: bold;
    color: #c45c45;
}

.img-product {
    width: 100%;
}

.logo-img {
    width: 80px;
    padding: 10px;
}

.card-shadow {
    box-shadow: 2px 2px 4px #BDBDBD;
}

/* search */

.search-nav {
    width: 100%;
}

.search-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
}

.search-nav ul li {
    width: 15%;
    background-color: #000000;
    color: #696969;
}

.search-nav ul li .a-link{
    color: #696969;
}

.search-nav ul li:hover .a-link{
    color: #ffffff;
}

.search-nav ul li:hover {
    background: #222222;
    color: #ffffff;
}

.search .select2-selection,
.search .form-control {
    background-color: #000000;
    color: #ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #222222;
}

.search .form-group {
    margin: 0;
}

.search .label-style,
.search .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #222222;
    color: #ffffff;
    border: #222222;
}

.button-search {
    background-color: #222222;
    color: #ffffff;
}

.button-search:hover {
    background-color: #ffffff;
    color: #222222;
}
/* products */
.color-card {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(105, 105, 105, 1) 100%);
    color: #000000;
}

.price-paragraphe {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2.5rem;
    font-weight: bold;
    color: #c45c45;
    padding: 5px;
    margin: 0;
}

.title-product-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    text-align: center;
    margin: 0;
}


/* products */
.card-body-product {
    transform: scale(1);
    transition: all 0.3s;
}

.card-body-product:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.card-body a {
    text-decoration: none;
}


/*
admin
 */

.menu-admin {
    background-color: #000000;
    padding: 0;
}

.menu-admin div a {
    color: #696969;
    margin: 0;
}

.menu-admin div a:hover {
    background: #222222;
    color: #ffffff;
}

.nav-link.active,
.show > .nav-link {
    background: #222222!important;
    color: #ffffff !important;
}

.dropdown-item:hover {
    background: #ECECEC!important;
    border-radius: 0;
}

.dropdown-item-basket:hover {
    background: #ffffff!important;
    color: #000000;
    border-radius: 0;
}

.card-body-hover:hover {
    background: #ECECEC!important;
    border-radius: 0;
}

.container-admin {
    min-height: 90.6vh;
}

table {
    overflow: scroll;
}

table th,
table td {
    text-align: center;
}

/* form */
.button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 5px;
}

.form-control {
    padding : 0.5rem;
    font-size: 2rem;
    border-radius: 5px;
}

.form-control-basket {
    padding : 0.5rem;
    font-size: 1rem;
    border-radius: 0;
}



/* basket */

.security {
    width: 240px;
}

.basket {
    width: 400px;
}

.basket-icon {
    vertical-align: center;
    font-size: 3rem;
    color: #222222;
    margin: 0;
}

.basket-par {
    font-size: 1.6rem;
    margin: 0;
}


/* table */

.td-image {
    width: 20%;
}
.td-options {
    width: 25%;
}
.td-name {
    width: 55%;
}


#add {
    cursor: pointer;
}