<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinisialisation Mot de passe</title>
</head>
<body>
<div>
    <h2 style="color:#253f58; font-size: 25px;">Barbershop - Réinisialisation du mot de passe</h2>
    <p style="font-size: 15px;">
        <strong style="color: #d92139; font-size: 15px;">
            {{ user.username }}</strong>
        tu as oublié ton mot de passe, tu vas pouvoir le réinisialiser en suivant ce lien :</p>
    <p style="font-size: 15px;">
        <a href="{{ url }}">Barbershop</a>
    </p>
</div>
</body>
</html>