{% extends 'base.html.twig' %}
{% block title 'La boutique' %}

{% block body %}
    <div class="color-jumbotron-home jumbotron text-center text-white rounded-0">
        <div class="row">
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
            <div class="col-4 py-5">
                <h1 class="title-h1">La boutique du barbier</h1>
                <p class="description">Lorem Ipsum color sit amet</p>
            </div>
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
        </div>
        <div class="row">

            <nav class="search-nav">
                <ul>
                    <li class="li-link">
                        <a class="nav-link huile-link">Huile</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Baume</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Cire</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Shampoing</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Accessoires</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Coffrets</a>
                    </li>
                    <li class="li-link">
                        <a class="nav-link huile-link">Marques</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body p-0">
                            <a class="product-link" href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">
                                <div>
                                    <img class="img-product rounded-top" src="/images/empty.jpg" alt="">
                                </div>
                                <div class="color-card">
                                    <h5 class="title-product-link p-3">{{ product.name }}</h5>
                                    <p class="price-paragraphe text-center">{{ product.formatedPrice }} €</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}