{% extends 'base.html.twig' %}
{% block title 'livraison' %}

{% block body %}
<div class="container mt-4">

    <div class="title-row">
        <div class="row">
            <div class="col-12">
                <h3>Récapitulation de votre commande</h3>
            </div>
        </div>
    </div>
</div>