<div class="color-jumbotron-home jumbotron text-center text-white rounded-0 p-0 m-0">
    <div class="row m-0">
        <div class="col-lg-4 col-12">
            <img class="logo-img" src="/images/logo.jpg">
        </div>
        <div class="col-lg-4 col-12 py-5">
            <p>site réalisé par Yoann Le fur</p>
            <p>dans le cadre d'une formation</p>
        </div>
        <div class="d-lg-block col-lg-4 d-none">
            <img class="logo-img" src="/images/logo.jpg">
        </div>
    </div>
</div>